<!-- Page content -->
<div layout="row">
    <div flex="100">
        <!-- Brand Logo -->
        <div ng-include="'components/app-before-login/template/header.html'"></div>

        <md-card class="action-form md-whiteframe-2dp">
            <!-- form title -->
            <h1 class="form-title">Reset your password</h1>
            <!-- form -->
            <form name="reset" novalidate>
                <alert-message ng-if="alert" data="alert"> </alert-message>
                <p>Enter your email address below and we'll send you a link to reset your password.</p>
                <md-input-container  class="md-block md-icon-float" >
                    <label>Email</label>
                    <md-icon class="material-icons">mail</md-icon>
                <input 
                    required 
                    name="email" 
                    type="email"
                    ng-model="user.email"
                    class='text-lowercase'
                    ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([A-Za-z0-9\-])+\.)+([a-zA-Z]{2,3})+$/">
                <div ng-messages="reset.email.$error" class="error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="pattern">Enter valid email address.</div>
                </div>

                </md-input-container>

                <md-button
                ng-click="submitForm(reset,user )" class="md-raised md-primary btn-block btn-action-form" type="submit">Send reset password email</md-button>

            </form>
            <!-- end form -->

            <!-- form refer link -->
            <div class="form-footer-link">
                <a ui-sref="login">Know your password? <span>Sign in</span></a>
            </div>
            <!-- end form refer link -->

        </md-card>
        <!-- End form block -->

    </div>
</div>
<!--End Page content -->
<div ng-include="'components/app-before-login/template/footer.html'"></div>