<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="portlet light bordered">
                                <material-loader ng-show="loader"></material-loader>
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bubble font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">Feedback & Suggestions</span>
                                    </div>
                                </div>

                                <div class="data-container" ng-if="data.records.length">
                                    <md-table-container>
                                      <table md-table md-row-select multiple ng-model="selected" md-progress="data.records">
                                        <thead md-head md-order="query.order" md-on-reorder="list">
                                          <tr md-row>
                                            <th md-column><span>Name</span></th>
                                            <th md-column>Email</th>
                                            
                                            <th md-column>Mobile</th>
                                            <th md-column>Created</th>
                                            
                                            <th md-column>Action</th>
                                          </tr>
                                        </thead>
                                        <tbody md-body>
                                          <tr md-row md-select="row._id" md-select-id="row._id" md-auto-select ng-repeat="row in data.records">
                                            <td md-cell>{{row.title}}</td>
                                            <td md-cell>{{row.email}}</td>
                                            <td md-cell>{{row.mobile}}</td>
                                    

                                            <td md-cell>{{row.created_at | date}}</td>
                                            
                                            <td md-cell>
                                                <a ng-click="go('/feedbacks/view/'+row._id)" class="btn btn-icon-only green">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="javascript:;" class="btn btn-icon-only red" ng-click='remove(row._id, $event)'>
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>

                                    </md-table-container>

                                    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{data.total}}" md-on-paginate="list" md-page-select></md-table-pagination>
                                </div>

                                <div class="alert alert-info" ng-if='!data.records || data.records.length===0'>No record found</div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
