<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="portlet light bordered">
                                <material-loader ng-show="loader"></material-loader>
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-star font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">Feedback</span>
                                    </div>
                                    <span class='pull-right'><small><b>{{feedback.created_at | date : "medium"}}</b></small></span>
                                </div>
                                <div class="portlet-body form">
                                    <md-content class="md-padding">
                                        <div layout="column">
                                        
                                            <md-content layout-padding>
                    
                                              <form name="addForm" novalidate>

                                                
                                                  <md-input-container class='md-block'>
                                                    <label>Name</label>
                                                    <input required name="title" ng-model="feedback.title" readonly="" disabled="">
                                                  </md-input-container>

                                                <md-input-container class="md-block">
                                                  <label>Email</label>
                                                  <input type="email" name='email' ng-model='feedback.email' disabled="" />
                                                </md-input-container>

                                                <md-input-container class="md-block">
                                                  <label>Mobile</label>
                                                  <input type="text" name='mobile' ng-model='feedback.mobile' disabled="" />
                                                </md-input-container>
                                              
                                                <md-input-container class="md-block">
                                                  <label>Content</label>
                                                  <textarea required name="content" ng-model="feedback.content" disabled></textarea>
                                                </md-input-container>


                                                <div>
                                                  <a ng-click='go("/feedbacks")' class='btn grey'>Back</a>
                                                </div>
                                              </form>
                                            </md-content>

                                       </div>
                                      </md-content>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
