  <md-container class="md-padding error-page">
    <div layout="row"  layout-align="space-around center" class="bg-error">
        <div>
           <strong class="num404">
              <span>503</span>
              <small>No longer to available</small>
            </strong>
        </div>

        <div>
            <div class="error404">
            <h2>Oops.</h2>
            <p><b>We are sorry the requested URL not be retrieved, The URL may be misspelled or the page you're looking for is no longer to available </b></p>
            <md-button href="/" class="fill-blue md-raised md-primary">Go Home</md-button>
            </div>   
        </div>
    </div>
</md-container>