    <section class="content ">
      <div class="row">
         <div class="box-primary">
            <div class="box-body box-profile">
               <div class="profile_details box-shadow change_passwor_div"> 
                  <h3 class="profile-username text-left">Change Your Password </h3>
                  <form name="adminProfileForm" ng-submit="adminProfileForm.$valid && changePassword(p)" novalidate="" >
                     <md-input-container class="md-icon-float md-block">
                        <label class="colorlabel">Current Password</label>
                        <input type="password" name="cp" ng-model="p.current" required/>
                        <div ng-messages="adminProfileForm.cp.$error" ng-show='adminProfileForm.cp.$dirty || adminProfileForm.cp.$invalid'>
                           <div ng-message="required">This is required.</div>
                        </div>
                     </md-input-container>
                     <md-input-container class="md-icon-float md-block">
                        <label class="colorlabel">New Password</label>
                        <input type="password" name="np" ng-model="p.password" required/>
                        <div ng-messages="adminProfileForm.np.$error" ng-show='adminProfileForm.np.$dirty || adminProfileForm.np.$invalid'>
                           <div ng-message="required">This is required.</div>
                        </div>
                     </md-input-container>
                     <md-input-container class="md-icon-float md-block">
                        <label class="colorlabel">Confirm Password</label>
                        <input type="password" name="cp" ng-model="p.cpassword" required/>
                        <div ng-messages="adminProfileForm.cp.$error" ng-show='adminProfileForm.cp.$dirty || adminProfileForm.cp.$invalid'>
                           <div ng-message="required">This is required.</div>
                        </div>
                     </md-input-container>
                     <div class="row" >
                        <div class="col-xs-4 pull-right">
                           <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>