<!--Header-->
            <md-toolbar class="theme-toolbar md-primary md-whiteframe-6dp">
                <a class="theme-logo hide-xs hide-sm" href="#">ConsoleBox</a>
                <div class="md-toolbar-tools">
                    <ul class="theme-toolbar-left">
                        <li class="hide-gt-sm"><a data-ng-click="showHideLeftSidebar()" class="horz-menu"><i class="material-icons">menu</i></a></li>
                        <li>
                            <md-menu>
                                <a aria-label="Open apps menu" data-ng-click="$mdMenu.open($event)" data-md-menu-origin class="horz-menu"><i class="material-icons">notifications_active</i><span class="theme-pulse noti-pulse"></span>
                                <md-tooltip md-direction="bottom"  class="tooltip-gt-md">Notifications</md-tooltip></a>
                                <md-menu-content class="theme-noti-box">
                                    <md-menu-item class="theme-noti-list">
                                        <div class="theme-noti-list-title center-align">ConsoleBox Notifications</div>
                                    </md-menu-item>

                                    <md-menu-item class="theme-noti-list md-whiteframe-1dp">
                                        <div class="theme-noti-list-item">
                                            <div class="noti-list-item-title">
                                                Try new ConsoleBox layout
                                            </div>
                                            <div class="noti-list-item-desc">
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                            </div>
                                            <div class="noti-list-item-action">
                                                <a data-ng-click="$mdMenu.close()" class="md-button" data-md-ink-ripple="#ff0000">Dismiss</a>
                                                <a data-ng-click="$mdMenu.close()" class="md-button" data-md-ink-ripple="#000">find out more</a>
                                            </div>
                                        </div>
                                    </md-menu-item>

                                    <md-menu-item class="theme-noti-list md-whiteframe-1dp">
                                        <div class="theme-noti-list-item">
                                            <div class="noti-list-item-title">
                                                Try new ConsoleBox pages
                                            </div>
                                            <div class="noti-list-item-desc">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                                            </div>
                                            <div class="noti-list-item-action">
                                                <a data-ng-click="$mdMenu.close()" class="md-button" data-md-ink-ripple="#ff0000">Dismiss</a>
                                                <a data-ng-click="$mdMenu.close()" class="md-button" data-md-ink-ripple="#000">find out more</a>
                                            </div>
                                        </div>
                                    </md-menu-item>
                                    <md-menu-item class="theme-noti-list md-whiteframe-1dp">
                                        <div class="theme-noti-list-item">
                                            <div class="noti-list-item-title">
                                                Try new ConsoleBox color layout
                                            </div>
                                            <div class="noti-list-item-desc">
                                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                            </div>
                                            <div class="noti-list-item-action">
                                                <a data-ng-click="$mdMenu.close()" class="md-button" data-md-ink-ripple="#ff0000">Dismiss</a>
                                                <a data-ng-click="$mdMenu.close()" class="md-button" data-md-ink-ripple="#000">find out more</a>
                                            </div>
                                        </div>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </li>

                        <li>
                            <md-menu>
                                <a aria-label="Open apps menu" data-ng-click="$mdMenu.open($event)" data-md-menu-origin class="horz-menu"><i class="material-icons">apps</i><md-tooltip md-direction="bottom" class="tooltip-gt-md">Apps</md-tooltip></a>
                                <md-menu-content width="5">
                                    <md-menu-item class="theme-apps-item">
                                        <a data-ng-click="$mdMenu.close()" class="center-align md-button"><i class="material-icons">polymer</i><span>Polymer</span></a>

                                        <a data-ng-click="$mdMenu.close()" class="center-align  md-button"><i class="material-icons">import_contacts</i><span>Contact</span></a>
                                    </md-menu-item>

                                    <md-menu-item class="theme-apps-item">
                                        <a data-ng-click="$mdMenu.close()" class="center-align md-button"><i class="material-icons">email</i><span>Email</span></a>

                                        <a data-ng-click="$mdMenu.close()" class="center-align md-button"><i class="material-icons">ondemand_video</i><span>Video</span></a>
                                    </md-menu-item>
                                    <md-menu-item class="theme-apps-item">
                                        <a data-ng-click="$mdMenu.close()" class="center-align md-button"><i class="material-icons">bug_report</i><span>Bug Report</span></a>

                                        <a data-ng-click="$mdMenu.close()" class="center-align md-button"><i class="material-icons">voicemail</i><span>Voicemail</span></a>
                                    </md-menu-item>

                                    <md-menu-item class="theme-apps-item">
                                        <a data-ng-click="$mdMenu.close()" class="center-align md-button"><i class="material-icons">account_balance</i><span>Balance</span></a>

                                        <a data-ng-click="$mdMenu.close()" class="center-align md-button"><i class="material-icons">alarm</i><span>Alarm</span></a>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                        </li>

                    </ul>
                    <ul class="theme-toolbar-right">
                        <li><a data-ng-click="showHideSearch()" class="horz-menu"><i class="material-icons">search</i><md-tooltip md-direction="bottom" class="tooltip-gt-md">{{searchTooltipText}} Search</md-tooltip></a></li>
                        <li>
                            <md-menu>
                                <a aria-label="Open user account" data-ng-click="$mdMenu.open($event)" data-md-menu-origin class="horz-menu"><i class="material-icons">account_circle</i><md-tooltip md-direction="bottom" class="tooltip-gt-md">Your Account</md-tooltip></a>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button>
                                            <a class="center-vertical no-underline">
                                                <md-icon>perm_identity</md-icon><span> My Profile</span></a>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            <a class="center-vertical no-underline">
                                                <md-icon>settings</md-icon><span> Page Customizer</span></a>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button>
                                            <a class="center-vertical no-underline" href="frontend/#/lock">
                                                <md-icon>lock</md-icon><span> Lock</span></a>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            <a class="center-vertical no-underline" href="/#/login">
                                                <md-icon>power_settings_new</md-icon><span> Logout</span></a>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </li>
                        <li class="hide-xs"><a data-ng-click="fullscreenPage()" class="horz-menu"><i class="material-icons">fullscreen</i><md-tooltip md-direction="bottom" class="tooltip-gt-md">Full Screen</md-tooltip></a></li>
                        <li><a data-ng-click="showHideRightSidebar()" class="horz-menu"><i class="material-icons">settings_applications</i><md-tooltip md-direction="bottom" class="tooltip-gt-md">App Settings</md-tooltip></a></li>
                    </ul>
                </div>
            </md-toolbar>
            <!--End Header-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->