html{background: #f3f5f9;}

md-toast {
	position: fixed;
}
md-toast.md-error-theme .md-toast-content {
    background-color: #cf1c28;
}
md-toast.md-success-theme .md-toast-content {
    background-color: #26a1ab;
}

body.md-toast-animating{
	overflow-y: scroll!important;
}

.cropImgBx md-dialog md-dialog-content{ background: #fff; }
.cropImgBx .layout-row{ background: #fff; }
span.positiorel.changeupload { position: relative; /* float: left; */ text-align: left; display: inline-block; }
.changeupload a {background: #666; padding: 8px 10px 8px 10px;border-radius: 3px; font-size: 14px; text-transform: uppercase; color: #fff; line-height: 20px; display: inline-block; }
input.uploadpic {background: #666; width:100%; bottom: 0; position: absolute; left: 0; top: 0; opacity: 0; cursor: pointer; }
.profImgBx span md-icon {color: #fff; font-size: 18px; vertical-align: middle; display: inline-block; padding-right: 5px; height: auto !important; min-height: 0; }
.profImgBx span {background: rgba(0, 0, 0, 0.5); display: block; padding: 3px 5px; color: #fff; position: absolute; bottom: 0; left: 0; right: 0; border-radius: 0 0 3px 3px; text-align: center; line-height: 20px; }
.profImgBx {background: #fff; border-radius: 5px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); height: 150px; position: relative; width: 150px;}
.profImgBx > img {bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; max-width: 100%; max-height: 100%;}
.browseImg{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0; cursor: pointer; width: 100%;}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
}
md-content{ background: none;}
.cropArea{
    
    height: 300px;
    width: 400px;
        position: relative;
}
.page-content{padding-top: 0!important;}
.mg-10{margin-right: 10px !important}
.page-header.navbar.navbar-fixed-top{
  z-index: 10;
}
.page-footer-inner {
      width: 100%;
    border-top: 1px #d8d8d8 solid;
    padding-top: 5px;   
}
.note-editor label {
  display: inline !important;
  position: relative !important;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 60px;
    margin: 0px;
    cursor: pointer;
}
.dragover {
    border: 5px dashed blue;
}


.easy-pie-chart,.sparkline-chart {
    text-align: center
}

.sparkline-chart {
    margin-top: 15px;
    position: relative
}

.easy-pie-chart .number {
    font-weight: 300;
    width: 85px;
    margin: 0 auto
}

.sparkline-chart .number {
    width: 100px;
    margin: 0 auto 10px
}

.easy-pie-chart .title,.sparkline-chart .title {
    display: block;
    text-align: center;
    color: #333;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px
}

.easy-pie-chart .title:hover,.sparkline-chart .title:hover {
    color: #666;
    text-decoration: none
}

.easy-pie-chart .title>i,.sparkline-chart .title>i {
    margin-top: 5px
}

.easy-pie-chart .number {
    font-size: 14px!important;
    position: relative;
    text-align: center;
    height: 75px;
    line-height: 75px;
}

.easy-pie-chart .number canvas {
    position: absolute;
    top: 0;
    left: 0
}


.small-btn{    min-width: 50px!important;
    background-color: #3598dc !important;
    color: white !important;
    border-radius: 5px !important;
}

.actions md-input-container{
    margin: 0 !important;
}
.date-range {

    padding: 0 !important;
    margin-top: 18px !important;
}
.vspace {
    margin-top:10px;
}

md-dialog md-dialog-actions{
    background-color: #f1f1f1;
    border-top: 1px #e2e2e2 solid;
}
.md-cancel-button, .md-confirm-button{
    
    border: 1px #dadada solid !important;
    text-transform: none !important;
}
md-dialog .md-dialog-content{
    padding:16px;
}
md-dialog .md-dialog-content-body p{
    margin:5px 0;
}
.load-container {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    right: 0;
}

.portlet{position: relative;}
.hideGrey{color: #f1f3f7;}
.fa-200x{font-size: 200px;}
.no-records{position: absolute;top: 0;bottom: 0;left: 0;right: 0;}

.center-full-block { 
    width: 100%;
    display: block;
 }

 .advance-filter{
    border-bottom: 1px solid #eef1f5;
    color: #585858;
    font-size: 12px;
 }

 .row-space {
    padding: 15px 0px;
    border-bottom: 1px #e0e0e0 solid;
 }

 .advance-filter{
    background-color: rgba(249, 249, 249, 0.4);
    padding:0 15px !important;
    border: 1px #efefef solid;
      box-shadow: 0px 0px 8px 2px #000000;
}

 .padding-top-15  {    padding-top: 16px;}
 
 .padding-top-15  md-input-container{
    margin: 0;
 }
 .mbot20{    margin-bottom: 20px;}