<!-- Page Header -->
<div class="theme-page-body-header-box" md-colors="{background: '{{themeColor}}-500'}">
    <div class="theme-page-body-header-title" layout="row" layout-align="space-between center">
        <h1> Users Permission (Add/change permission) </h1>

    </div>
</div>
<!-- End Page Header -->
<!-- Page content -->
<md-content class="page-content">
  <!-- section -->
  <section class="page-section  md-whiteframe-3dp border-radius-10">
    
  </section>
</md-content>
<!--End Page content -->