 <!-- BEGIN SIDEBAR -->

            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->


                    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-show="sidenav">
                        <li ng-repeat="li in sidenav" class="{{li.class}}" ng-show="checkRole(li.accessLevel)" ng-attr-id="li{{$index}}">
                            <a class="nav-link nav-toggle" 
                               ng-click="go(li.link)" ng-if="li.class!='heading'">
                                <i class="{{li.icon}}"></i>
                                <span class="title">{{li.title}}</span>
                                <span class="arrow" ng-if="li.children"></span>
                            </a>
                            <ul class="sub-menu" ng-if="li.children">
                                <li ng-repeat="child in li.children" class="{{child.class}}">
                                    <a href="" class="nav-link " ng-click="go(child.link)">
                                        <span class="title">{{child.title}}</span>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="uppercase" ng-if="li.class=='heading'">{{li.title}}</h3>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle" ng-click="logout()">
                                <i class="icon-logout"></i>
                                <span class="title">Logout</span>
                            </a>
                        </li>
                    </ul>
                    <!-- END SIDEBAR MENU-->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->