<md-content layout-padding>
    <alert-message ng-if="alert" data="alert"> </alert-message>

  <form name="passwordForm" class="md-block-input" novalidate ng-submit="passwordForm.$valid && changePassword()">
    <md-input-container class="md-block">
      <label>Old Password</label>
      <input type='password' name="old" ng-model="user.password" required>
      <div ng-messages="passwordForm.old.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>New Password</label>
      <input type='password' name="new" ng-model="user.newPassword" ng-minlength='6' required>
      <div ng-messages="passwordForm.new.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="minlength">Your password must have at least 6 characters.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Confirm Password</label>
      <input type='password' name="confirm" ng-model="user.confirm" password-verify="user.newPassword"  required>
      <div ng-messages="passwordForm.confirm.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="passwordVerify">Confirm password not same as New Password.
        </div> 
      </div>
    </md-input-container>
  


  <div>
     <md-button 
          ng-disabled="isLoading"
          aria-label="login"
          ng-click="submitForm(passwordForm, user)"
          class="md-raised md-primary btn-block max-300 btn-action-form"
          type="submit">
          <span ng-if="!isLoading">Update Password <md-icon >arrow_forward</md-icon></span>
          <span ng-if="isLoading"> Processing..</span>
      </md-button>
  </div>
</form>

</md-content>