<!-- Page Header -->
<div class="theme-page-body-header-box" md-colors="{background: '{{themeColor}}-500'}">
    <div class="theme-page-body-header-title">
        <!-- title -->
        <h1>Extra UI</h1>
        <!-- help -->
        <a href="https://material.angularjs.org/latest/demo/subheader" target="_blank" class="theme-page-help"><i class="material-icons">help</i><md-tooltip md-direction="bottom" class="tooltip-gt-md">Help</md-tooltip></a>
    </div>

    <!-- Tab -->
    <div class="theme-page-body-header-menu">
        <md-tabs md-dynamic-height>
            <md-tab label="bottom Sheet" ui-sref="bottomSheet">
            </md-tab>
            <md-tab label="fab SpeedDial" ui-sref="fabSpeedDial">
            </md-tab>
            <md-tab label="fab Toolbar" ui-sref="fabToolbar">
            </md-tab>
            <md-tab label="list" ui-sref="list">
            </md-tab>
            <md-tab label="menuBar" ui-sref="menuBar">
            </md-tab>
            <md-tab label="navBar" ui-sref="navBar">
            </md-tab>
            <md-tab label="panel" ui-sref="panel">
            </md-tab>
            <md-tab label="subheader" ui-sref="subheader" md-active="true">
            </md-tab>
            <md-tab label="swipe" ui-sref="swipe">
            </md-tab>
            <md-tab label="toolbar" ui-sref="toolbar">
            </md-tab>
            <md-tab label="virtual Repeat" ui-sref="virtualRepeat">
            </md-tab>
        </md-tabs>
    </div>
    <!-- end tab -->

</div>
<!-- End Page Header -->

<!-- Page content -->
<md-content class="page-content">
    <!-- section -->
    <section class="page-section md-whiteframe-3dp">
        <!--page title-->
        <h2 class="theme-title">Sub Header</h2>
        <!-- page desciption -->
        <p>The <code class="language-markup">md-subheader</code> directive creates a sticky subheader for a section.</p>

        <!-- //////////////////////////////////////// -->
        <!-- Basic Usage -->

        <!-- layout  -->
        <div layout="row">
            <!-- flex -->
            <div flex="100">
                <!--title-->
                <h3 class="theme-title">Basic Usage</h3>

                <!-- content -->
                <md-card>
                    <md-toolbar md-scroll-shrink>
                        <div class="md-toolbar-tools">My Messages</div>
                    </md-toolbar>

                    <div layout="row">
                        <div flex="100">
                            <md-content style="height: 400px;">

                                <section>
                                    <md-subheader class="md-primary">Unread Messages</md-subheader>
                                    <md-list layout-padding>
                                        <md-list-item class="md-3-line" ng-repeat="message in subHeaderDemo.messages">
                                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                            <div class="md-list-item-text">
                                                <h3>{{message.what}}</h3>
                                                <h4>{{message.who}}</h4>
                                                <p>
                                                    {{message.notes}}
                                                </p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </section>

                                <section>
                                    <md-subheader class="md-warn">Late Messages</md-subheader>
                                    <md-list layout="column" layout-padding>
                                        <md-list-item class="md-3-line" ng-repeat="message in subHeaderDemo.messages">
                                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                            <div class="md-list-item-text">
                                                <h3>{{message.what}}</h3>
                                                <h4>{{message.who}}</h4>
                                                <p>
                                                    {{message.notes}}
                                                </p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </section>

                                <section>
                                    <md-subheader>Read Messages</md-subheader>
                                    <md-list layout="column" layout-padding>
                                        <md-list-item class="md-3-line" ng-repeat="message in subHeaderDemo.messages">
                                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                            <div class="md-list-item-text">
                                                <h3>{{message.what}}</h3>
                                                <h4>{{message.who}}</h4>
                                                <p>
                                                    {{message.notes}}
                                                </p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </section>

                                <section>
                                    <md-subheader class="md-accent">Archived messages</md-subheader>
                                    <md-list layout="column" layout-padding>
                                        <md-list-item class="md-3-line" ng-repeat="message in subHeaderDemo.messages">
                                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                            <div class="md-list-item-text">
                                                <h3>{{message.what}}</h3>
                                                <h4>{{message.who}}</h4>
                                                <p>
                                                    {{message.notes}}
                                                </p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </section>

                            </md-content>
                        </div>
                    </div>
                </md-card>
                <!-- end content -->

                <!-- sample code -->

                <md-tabs md-dynamic-height md-border-bottom class="m-t-20">
                    <md-tab label="js">
                        <md-content class="m-t-0">
                            <pre><code class=" language-javascript" prism>
$scope.subHeaderDemo = {
    messages: [{
            face: '../../asset/images/user1.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user4.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user3.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user2.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user1.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user3.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user1.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user1.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user1.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user1.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
        {
            face: '../../asset/images/user3.jpg',
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        },
    ]
};
</code></pre>
                        </md-content>
                    </md-tab>

                </md-tabs>
                <!-- end sample code -->

            </div>
            <!-- end flex -->
        </div>
        <!-- end layout  -->

        <!-- End Basic Usage -->
        <!-- //////////////////////////////////////// -->
    </section>
    <!-- end section -->
</md-content>
<!--End Page content -->