<!-- Page Header -->
<div class="theme-page-body-header-box" md-colors="{background: '{{themeColor}}-500'}">
    <div class="theme-page-body-header-title">
        <!-- title -->
        <h1>Form</h1>
        <!-- help -->
        <a href="https://quilljs.com/" target="_blank" class="theme-page-help"><i class="material-icons">help</i><md-tooltip md-direction="bottom" class="tooltip-gt-md">Help</md-tooltip></a>
    </div>

    <!-- Tab -->
    <div class="theme-page-body-header-menu">
        <md-tabs md-dynamic-height>
            <md-tab label="Form Layouts" ui-sref="form-layouts">
            </md-tab>
            <md-tab label="Form Validations" ui-sref="form-validations">
            </md-tab>
            <md-tab label="Form Masks" ui-sref="form-masks">
            </md-tab>
            <md-tab label="Text Editor" ui-sref="text-editor" md-active="true">
            </md-tab>
        </md-tabs>
    </div>
    <!-- end tab -->

</div>
<!-- End Page Header -->

<!-- Page content -->
<md-content class="page-content">
    <!-- section -->
    <section class="page-section md-whiteframe-3dp">
        <!--page title-->
        <h2 class="theme-title">Text Editor</h2>
        <!-- page desciption -->
        <p><a href="https://quilljs.com/" target="_blank">Quill Rich Text Editor</a> is a powerful, rich text editor. <a href="https://github.com/KillerCodeMonkey/ng-quill" target="_blank">ng-quill</a> is an Angular.js component for Quill rich text editor.</p>

        <!-- //////////////////////////////////////// -->
        <!-- Basic Editor -->

        <!-- layout  -->
        <div layout="row">
            <!-- flex -->
            <div flex="100">
                <!--title-->
                <h3 class="theme-title">Basic Usage</h3>

                <!-- content -->
                <ng-quill-editor ng-model="editorTitle">
                </ng-quill-editor>
                <!-- end content -->

                <!-- sample code -->

                <md-tabs md-dynamic-height md-border-bottom class="m-t-30">
                    <md-tab label="html">
                        <md-content class="m-t-0">
                            <pre><code class="language-html" prism>
&lt;ng-quill-editor ng-model=&quot;editorTitle&quot;&gt;
&lt;/ng-quill-editor&gt;
                            </code></pre>
                        </md-content>
                    </md-tab>
                    <md-tab label="js">
                        <md-content class="m-t-0">
                            <pre><code class=" language-javascript" prism>
$scope.editorTitle = '&lt;h1&gt;Your Text Editor&lt;/h1&gt;' +
             '&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum&lt;/p&gt;' +
             '&lt;p&gt;&lt;br&gt;&lt;/p&gt;' +
             '&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum&lt;/p&gt;' +
             '&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;';
</code></pre>
                        </md-content>
                    </md-tab>

                </md-tabs>
                <!-- end sample code -->
            </div>
            <!-- end flex -->
        </div>
        <!-- end layout  -->

        <!-- End Basic Editor -->
        <!-- //////////////////////////////////////// -->
    </section>
    <!-- end section -->
</md-content>
<!--End Page content -->