<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="portlet light bordered">
                                <material-loader ng-show="loader"></material-loader>
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-star font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">Edit Block - {{cms.title}}   </span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <md-content class="md-padding">
                                        <div layout="column">
                                            <md-content layout-padding>
                                              <form name="addForm" novalidate ng-submit="addForm.$valid && editWithImage(file)">

                                                  <md-input-container class="md-block">
                                                    <label>Title</label>
                                                    <input required name="title" ng-model="cms.title" required>
                                                    <div ng-messages="addForm.title.$error">
                                                      <div ng-message="required">This is required.</div>
                                                    </div>
                                                  </md-input-container>


                                                  <md-input-container class="md-block">
                                                <input type="file" ngf-select ng-model="file" name="file" aria-label='Image'  
                                                 accept="image/*" ngf-max-size="2MB"
                                                 ngf-model-invalid="errorFile">
                                                 <div ng-messages="editForm.file.$error">
                                                      <div ng-message="required">This is required.</div>
                                                  </div>
                                                    <br>
                                                  <img ng-show="addForm.file.$valid || cms.image" ngf-thumbnail="file || cms.image.secure_url" class="thumb" style="width:100px;"> <br>
                                                  <md-button ng-click="file = null" ng-show="file">Remove</md-button>

                                                </md-input-container>



                                                  <md-input-container class="md-block">
                                                    <label>Key</label>
                                                    <input readonly="" name="slug" ng-model="cms.slug" disabled="">
                                                  </md-input-container>


                                                
                                                <md-input-container class="md-block">
                                                  <!-- <label>Content</label> -->
                                                  <summernote height="300" ng-model='cms.content'></summernote>
                                                </md-input-container>


                                                <md-input-container class='md-block'>
                                                    <label>Button Text</label>
                                                    <input name="button_text" ng-model="cms.button_text">
                                                </md-input-container>


                                                <md-input-container class='md-block'>
                                                    <label>Link</label>
                                                    <input name="post_link" ng-model="cms.post_link">
                                                </md-input-container>


                                                <md-input-container class='md-block'>
                                                    <label>Need App Links</label>
                                                    <md-select ng-model="cms.needAppLinks" required name='needAppLinks'>
                                                      <md-option value="false">
                                                        No
                                                      </md-option>
                                                      <md-option value="true">
                                                        Yes 
                                                      </md-option>
                                                    </md-select>
                                                    <div ng-messages="addForm.needAppLinks.$error">
                                                      <div ng-message="required">This is required.</div>
                                                    </div>
                                                  </md-input-container>


                                                  <md-input-container class='md-block'>
                                                    <label>Status</label>
                                                    <md-select ng-model="cms.status" required name='status'>
                                                      <md-option value="true">
                                                        Active
                                                      </md-option>
                                                      <md-option value="false">
                                                        Inactive
                                                      </md-option>
                                                    </md-select>
                                                    <div ng-messages="addForm.status.$error">
                                                      <div ng-message="required">This is required.</div>
                                                    </div>
                                                  </md-input-container>
                                                  
                                                <div>
                                                  <md-button type="submit" class='btn red'>Update Page</md-button>
                                                </div>
                                              </form>
                                            </md-content>

                                       </div>
                                      </md-content>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
