<p>Hello {{admin.username}} </p>

You have requested for a new password.

<br>
<a href="{{admin.url}}#!/reset-password?reset={{admin.resetKey}}">Click Here</a> to reset your password.

<br>
Thanks

<br>
{{admin.from}}