<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="portlet light bordered">
                                <material-loader ng-show="loader"></material-loader>
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-star font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">Add New Benefit</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <md-content class="md-padding">
                                        <div layout="column">
                                            <md-content layout-padding>
                    
                                              <form name="addForm" novalidate ng-submit="addForm.$valid && addWithImage(file)">

                                                
                                                <md-input-container class='md-block'>
                                                    <label>Title</label>
                                                    <input required name="title" ng-model="cms.title">
                                                    <div ng-messages="addForm.title.$error">
                                                      <div ng-message="required">This is required.</div>
                                                    </div>
                                                </md-input-container>

                                                <md-input-container class='md-block'>
                                                  <label>Description</label>
                                                  <input name="shortDesc" ng-model="cms.shortDesc" required>
                                                </md-input-container>
                                                
                                                

                                                <md-input-container class="md-block">
                                                <input type="file" ngf-select ng-model="file" name="file" aria-label='Image'  
                                                 accept="image/*" ngf-max-size="2MB"
                                                 ngf-model-invalid="errorFile"><br><br>
                                                  <img ng-show="addForm.file.$valid" ngf-thumbnail="file" class="thumb" style="width:100px;"> <br>
                                                  <md-button ng-click="file = null" ng-show="file">Remove</md-button>
                                                </md-input-container>

                                                <md-input-container class="md-block">
                                                  <label>Class</label>
                                                  <input type='text' name="post_extra_class" ng-model="cms.post_extra_class">
                                                </md-input-container>


                                                <md-input-container class="md-block">
                                                  <label>Sort</label>
                                                  <input type='number' name="sort" ng-model="cms.sort" min='1' step='1' required>
                                                  <div ng-messages="addForm.sort.$error">
                                                      <div ng-message="required">This is required.</div>
                                                    </div>
                                                </md-input-container>



                                                  <md-input-container class='md-block'>
                                                    <label>Benefit For</label>
                                                    <md-select ng-model="cms.innerType" required name='innerType'>
                                                      <md-option value="Appraisers">
                                                        Appraisers
                                                      </md-option>
                                                      <md-option value="AppraisersInner">
                                                        Appraiser Landing Page 
                                                      </md-option>
                                                      
                                                      <md-option value="Company">
                                                        Company
                                                      </md-option>
                                                    </md-select>
                                                    <div ng-messages="addForm.innerType.$error">
                                                      <div ng-message="required">This is required.</div>
                                                    </div>
                                                  </md-input-container>

                                                
                                                  <md-input-container class='md-block'>
                                                    <label>Status</label>
                                                    <md-select ng-model="cms.status" required name='status'>
                                                      <md-option value="true">
                                                        Active
                                                      </md-option>
                                                      <md-option value="false">
                                                        Inactive
                                                      </md-option>
                                                    </md-select>
                                                    <div ng-messages="addForm.status.$error">
                                                      <div ng-message="required">This is required.</div>
                                                    </div>
                                                  </md-input-container>
                                                  
                                                <div>
                                                  <md-button type="submit" class='btn red'>Add Benefit</md-button>
                                                </div>
                                              </form>
                                            </md-content>

                                       </div>
                                      </md-content>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
