<!-- //////////////////////////////////////////////////////////////////////////// -->
<!--Footer-->
<md-divider></md-divider>
<footer class="page-footer">

    <div class="footer-copyright">
        <div class="left copyright-text">&copy; ConsoleBox</div>
        <div class="right scroll-top-icon"><a data-ng-click="scrollToTop()"><i class="material-icons">arrow_upward</i><md-tooltip md-direction="top" class="tooltip-gt-md">Back To Top</md-tooltip></a></div>
    </div>
</footer>
<!--End footer-->
<!-- //////////////////////////////////////////////////////////////////////////// -->